<!DOCTYPE html>
<html lang="<%= VARIABLES.DEFAULTS.LANGUAGE_SHORT %>">
  <head>
    <meta charset="UTF-8">
    <title><%= VARIABLES.TITLE %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
    <meta name="viewport" content="width=device-width">
    <link rel="copyright" href="<%= htmlWebpackPlugin.options.copyright %>">
  </head>
  <body>
    <div id="<%= VARIABLES.ROOTID %>"></div>
  </body>
</html>
