<!DOCTYPE html>
<html lang="<%= DEFAULTS.LOCALE_SHORT %>">
  <head>
    <meta charset="UTF-8">
    <title><%= PROJECT.TITLE %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="copyright" href="<%= htmlWebpackPlugin.options.copyright %>">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <div id="<%= PROJECT.ROOTID %>"></div>
  </body>
</html>
